/* General */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1100px;
    margin: 0 auto;
}


/* Title */

h1{
    color: rgb(229, 49, 112);
    text-align: center;
    font-size: 40px;
    margin: 40px 0;
}


/* Text info */

.main_text{
    text-align: center;
    font-weight: 700;
    color: rgb(98, 98, 98);
}


/* Cards */

.col{
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 10px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.card{
    color: rgb(255, 255, 255);
    background-color: rgb(15, 14, 23);
    box-shadow: 0 0 10px 5px rgb(169, 169, 169);
}